@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  
  background-image: linear-gradient(to right,#3a1c71 , #d76d77 , #ffaf7b);
}

video {
  width: 40vw;
  height: 30vw;
  /* margin: 2rem; */
  background: #2c3e50;
}
#webcamVideo,#remoteVideo {
  border-width:5px;  
  border-style:inset;
}
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}